{% extends "../../_base.html" %}

{% block content %}
<table class="ui striped table">
    <thead>
        <tr>
            <th>Monday 1</th>
            <th>Tuesday 1</th>
            <th>Wednesday 1</th>
            <th>Thursday 1</th>
            <th>Friday 1</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>History</td>
            <td>Geography</td>
            <td>Music</td>
            <td>Tutorial G</td>
            <td>English</td>
        </tr>
        <tr>
            <td>Science</td>
            <td>French</td>
            <td>Maths</td>
            <td>History</td>
            <td>Maths</td>
        </tr>
        <tr>
            <td>Art</td>
            <td>IT</td>
            <td>English</td>
            <td>Maths</td>
            <td>PE</td>
        </tr>
        <tr>
            <td>Res Mat</td>
            <td>Science</td>
            <td>French</td>
            <td>English</td>
            <td>Geography</td>
        </tr>
        <tr>
            <td>PE</td>
            <td>English</td>
            <td>Drama</td>
            <td>Systems Control</td>
            <td>Science</td>
        </tr>
        <tr>
            <td>1st</td>
            <td>3rd</td>
            <td>2nd</td>
            <td>2nd</td>
            <td>1st</td>
        </tr>
    </tbody>
</table>

<table class="ui striped table">
    <thead>
        <tr>
            <th>Monday 2</th>
            <th>Tuesday 2</th>
            <th>Wednesday 2</th>
            <th>Thursday 2</th>
            <th>Friday 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>English</td>
            <td>PE</td>
            <td>Art</td>
            <td>Music</td>
            <td>RE</td>
        </tr>
        <tr>
            <td>Res Mat</td>
            <td>French</td>
            <td>History</td>
            <td>RE</td>
            <td>Maths</td>
        </tr>
        <tr>
            <td>IT</td>
            <td>Science</td>
            <td>French</td>
            <td>Geography</td>
            <td>Numeracy</td>
        </tr>
        <tr>
            <td>Science</td>
            <td>Textiles</td>
            <td>PE</td>
            <td>French</td>
            <td>Science</td>
        </tr>
        <tr>
            <td>Drama</td>
            <td>English</td>
            <td>Maths</td>
            <td>Maths</td>
            <td>English</td>
        </tr>
        <tr>
            <td>3rd</td>
            <td>1st</td>
            <td>1st</td>
            <td>3rd</td>
            <td>3rd</td>
        </tr>
    </tbody>
</table>
{% endblock %}
